Flask
Werkzeug==3.0.3
requests
ffmpeg-python
openai-whisper
gunicorn
APScheduler
srt
numpy>=1.18.0
torch
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-storage
psutil
boto3
Pillow
matplotlib
yt-dlp
beautifulsoup4
isodate

# Added for new video effects services
moviepy>=1.0.3